@keyframes show-modal {
    0% {}

    100% {
        opacity: 1;
    }
}

@keyframes hide-modal {
    0% {}

    100% {
        opacity: 0;
        display: none;
    }
}

.visible-animation {
    background-color: rgba(0, 0, 0, .5);
    animation-name: show-modal;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
}

.hidden-animation {
    background-color: rgba(0, 0, 0, .5);
    animation-name: hide-modal;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
}