:root {
    --ATUGreen: #115740;
    --ATUGold: #FFCD00;

    --font-color-primary: #333;

    --form-text-color: var(--font-color-primary);

    --shadow-primary: "0_0_0.5vh_rgba(0,0,0,0.5)";
}

html, body {
    background-color: var(--ATUGreen);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background-fixed {
    background-image: url('../assets/Background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}