.opened {
    left: 0px;
    transition: left 250ms ease-out;
}

.closed {
    left: -100vw;
    transition: left 250ms ease-out;
}

.sidebar{
    top: 0px;
}

h1{
    font-size: 20pt;
    font-weight: bold;
}