.opened {
    left: 0px;
    transition: left 300ms ease-out;
}

.closed {
    left: -100vw;
    transition: left 300ms ease-in;
}

.sidebar{
    top: 0px;
}

h1{
    font-size: 20pt;
    font-weight: bold;
}

@keyframes show-modal {
    0% {
        opacity: 0;
        display: static;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide-modal {
    0% {
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.visible-animation {
    background-color: rgba(0,0,0,.5);
    animation-name: show-modal;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
}

.hidden-animation {   
    background-color: rgba(0,0,0,.5);
    animation-name: hide-modal;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
}